
:root {
    --orange: #ED3C17;
}

body {
    font-family: Orelega+One, sans-serif;
    background-color: skyblue;
    margin: 0;
}

#navbar {
    width: 100vw;
    background-color: black;
    font-weight: bold;
}
ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75em 0;
}
li a {
    text-decoration: none;
    color: white;
    padding-right: 1em;
    position: relative;
    transition: all ease-in-out 500ms;
}
li a::after{
    content:'';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--orange);
    bottom: -0.5em;
    transition: all ease-in-out 500ms;
}
li a:hover::after {
width: 65%;
}
li a:hover{
    color: var(--orange);
}
hr.style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.career {
    padding-left: 10px;
}

.img {
    padding-left: 10px;
}
