
:root {
    --orange: #ED3C17;
}

body {
    font-family: Orelega+One, sans-serif;
    background-color: skyblue;
    margin: 0;
}

#navbar {
    width: 100vw;
    background-color: black;
    font-weight: bold;
}
ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
}
li a {
    text-decoration: none;
    color: white;
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 500ms;
}
li a::after{
    content:'';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--orange);
    bottom: -0.5em;
    transition: all ease-in-out 500ms;
}
li a:hover::after {
width: 65%;
}
li a:hover{
    color: var(--orange);
}
